@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    form {
        @apply block
    }

    label {
        @apply block text-xs mb-2 font-medium text-gray-500
    }

    label.required::after {
        content: '*';
        @apply ml-1 text-red-500
    }

    input[type="text"], select, textarea {
        @apply block w-full bg-white rounded shadow-sm border border-gray-300 px-3 py-2 text-sm
    }

    input[type="text"]:focus-visible {
        @apply outline-offset-2 outline outline-pink-400 outline-2
    }

    .button {
        @apply px-6 py-2 text-sm rounded font-medium transition-colors duration-150 shadow
    }

    .button.button-primary {
        @apply bg-pink-400 text-white shadow-pink-200
    }

    .button.button-primary:hover {
        @apply bg-pink-500
    }

    .card {
        @apply p-6 bg-white shadow rounded-md
    }

    .alert {
        @apply p-3 text-sm font-medium rounded-md leading-normal
    }

    .alert::before {
        @apply block mb-1 text-xs font-semibold opacity-70 tracking-wider
    }

    .alert.alert-info {
        @apply bg-blue-50 text-blue-500
    }

    .alert.alert-info::before {
        content: 'INFO';
    }

    .alert.alert-error {
        @apply bg-red-50 text-red-500
    }

    .alert.alert-error::before {
        content: 'ERROR';
    }

    .empty {
        @apply p-12 border-4 border-dashed border-gray-300 text-center text-2xl text-gray-400 rounded-xl
    }

    .link {
        @apply font-medium underline text-pink-700 hover:text-pink-900
    }
}
