<!-- /views/layouts/master.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/dist/app.css">
    <link rel="icon" href="/assets/logo.svg">
</head>
<body class="bg-gray-50 min-h-full">
<div>

    <nav class="flex justify-between bg-pink-500 text-white px-6">

        <div class="text-lg py-4 font-semibold">
            Wanderer
        </div>

        <div class="flex space-x-4">
            <a href="/" class="flex items-center px-6 transition-colors duration-150 hover:bg-white/20 border-b-4 border-pink-300">
                Home
            </a>
            <a href="/servers" class="flex items-center px-6 transition-colors duration-150 hover:bg-white/20 border-b-4 border-pink-300">
                Servers
            </a>
        </div>

        <div></div>
    </nav>

    <main class="container mx-auto mt-12">
        {{template "content" .}}
    </main>

</div>
</body>
</html>
