{{define "content"}}
<div class="mx-auto w-[24rem] card">

    <h1 class="mb-6 text-2xl">
        Login
    </h1>

    <form action="/auth" method="post" class="space-y-4">

        <div>
            <label for="password">Password</label>
            <input type="text"
                   id="password"
                   name="password"
                   placeholder="**********"
                   required
                   min="2">
        </div>

        <button type="submit" class="button button-primary">
            Login
        </button>

    </form>

</div>
{{end}}
