{{define "content"}}

<div class="w-[24rem] mx-auto card">

    <h1 class="mb-6 text-2xl">
        Create server
    </h1>

    <form action="/servers" method="post" enctype="multipart/form-data" class="space-y-4">

        <div>
            <label for="name" class="required">Name</label>
            <input id="name"
                   name="name"
                   type="text"
                   placeholder="My Nomad instance"
                   required>
        </div>

        <div>
            <label for="address" class="required">Address</label>
            <input id="address"
                   name="address"
                   type="text"
                   placeholder="192.168.1.1"
                   required>
        </div>

        <div>
            <label for="port" class="required">Port</label>
            <input id="port"
                   name="port"
                   type="text"
                   placeholder="9000"
                   required>
        </div>

        <div>
            <label for="cf_access_client_id">Cloudflare Access Id</label>
            <input id="cf_access_client_id"
                   name="cf_access_client_id"
                   type="text"
                   placeholder="*******.access">
        </div>

        <div>
            <label for="cf_access_client_secret">Cloudflare Access Secret</label>
            <input id="cf_access_client_secret"
                   name="cf_access_client_secret"
                   type="text"
                   placeholder="*******">
        </div>

        <button type="submit" class="button button-primary">
            Create server
        </button>

    </form>

</div>

{{end}}
