{{define "content"}}

<div class="w-[24rem] mx-auto card">

    <h1 class="mb-6 text-2xl">
        Nomad cluster
    </h1>

    <form action="/servers" method="post" enctype="multipart/form-data" class="space-y-4">

        <div>
            <label for="name" class="required">Name</label>
            <input id="name"
                   name="name"
                   type="text"
                   placeholder="My Nomad cluster"
                   required>
        </div>

        <div>
            <label for="address" class="required">Address</label>
            <input id="address"
                   name="address"
                   type="text"
                   placeholder="https://10.0.0.1:8080"
                   required>
        </div>

        <div>
            <label for="cf_access_client_id">Cloudflare Access Id</label>
            <input id="cf_access_client_id"
                   name="cf_access_client_id"
                   type="text"
                   placeholder="*******.access">
        </div>

        <div>
            <label for="cf_access_client_secret">Cloudflare Access Secret</label>
            <input id="cf_access_client_secret"
                   name="cf_access_client_secret"
                   type="password"
                   placeholder="*******">
        </div>

        <div>
            <label for="basic_auth_user">Basic Auth User</label>
            <input id="basic_auth_user"
                   name="basic_auth_user"
                   type="text"
                   placeholder="user">
        </div>

        <div>
            <label for="basic_auth_password">Basic Auth Password</label>
            <input id="basic_auth_password"
                   name="basic_auth_password"
                   type="password"
                   placeholder="*******">
        </div>

        <button type="submit" class="button button-primary">
            Add Nomad cluster
        </button>

    </form>

</div>

{{end}}
