{{define "content"}}

<div class="mb-6">
    <a href="/servers/create" class="button button-primary">
        Create server
    </a>
</div>

{{if .servers}}
{{range .servers}}

<div class="card p-0 overflow-hidden">

    <div class="flex justify-between p-6">
        <div>
            <div class="text-lg text-gray-800">
                {{.Name}}
            </div>
            <div class="text-gray-500 text-sm">
                {{.Address}}
            </div>
        </div>
        <div class="flex items-center">
            <div class="h-4 w-4 rounded-full {{if eq .Status 0}}bg-gray-400{{end}} {{if eq .Status 1}}bg-green-500{{end}} {{if eq .Status 2}}bg-red-500{{end}}"></div>
        </div>
    </div>

    <div class="h-px w-full bg-gray-200"></div>

    <div class="flex justify-between space-x-6 p-6 text-sm leading-normal">
        <div>
            <div class="text-gray-500">Status</div>
            <div>{{.Status.GetTitle}} ({{.LastStatusCheck.Format "15:04"}})</div>
        </div>
        <div>
            <div class="text-gray-500">Created</div>
            <div>{{.CreatedAt.Format "2006-01-02"}}</div>
        </div>
        <div>
            <div class="text-gray-500">Updated</div>
            <div>{{.UpdatedAt.Format "2006-01-02"}}</div>
        </div>
        <div>
            <div class="text-gray-500">Cloudflare</div>
            <div>{{if .CfAccessClientId}}yes{{else}}no{{end}}</div>
        </div>
    </div>

    <a href="/servers/{{.ID}}" class="block bg-gray-100 hover:bg-gray-200 transition-colors duration-150 px-6 py-3 text-center font-medium text-gray-400 hover:text-gray-500">
        Show server
    </a>
</div>

{{end}}
{{else}}
<div class="empty">
    No servers created yet
</div>
{{end}}

{{end}}
