<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="dist/app.css">

</head>
<body>
<div class="text-red-600 bg-blue-800">
    index
</div>
</body>
</html>
